<!DOCTYPE html>

<html>
    <head>
        <title>Tecart Insider</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <h1 class="text-center text-[50px]">Hello World</h1>
        <p>Ini UAS MJS</p>
        <p>Saya Devta dan Tude</p>
    </body>
</html>
